In [4]:
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [5]:
tickers =['PG','BEI.DE']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = yf.download(t, start = '1995-1-1')['Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
sec_data.tail()

                    PG      BEI.DE
Date
2025-08-20  159.509995  102.949997
2025-08-21  158.729996  100.750000
2025-08-22  158.669998   99.559998
2025-08-25  156.149994   99.180000
2025-08-26  155.774994   98.680000

In [7]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                  PG    BEI.DE
Date
1995-01-03       NaN       NaN
1995-01-04 -0.008048       NaN
1995-01-05 -0.014242       NaN
1995-01-06  0.002047       NaN
1995-01-09 -0.004099       NaN
...              ...       ...
2025-08-20  0.006983  0.000486
2025-08-21 -0.004902 -0.021601
2025-08-22 -0.000378 -0.011882
2025-08-25 -0.016010 -0.003824
2025-08-26 -0.002404 -0.005054

[7714 rows x 2 columns]

In [8]:
sec_returns['PG'].mean().item()

0.00039679681424166643

In [9]:
(sec_returns['PG'].mean()*250).item()

0.0991992035604166

In [10]:
sec_returns['PG'].std()

0.01392297039795198

In [11]:
sec_returns['PG'].std() * 250 ** 0.5

0.22014149126314597

In [12]:
#BEIERSDORF

In [13]:
sec_returns['BEI.DE'].mean().item()

0.0002662686297517333

In [14]:
(sec_returns['BEI.DE'].mean()*250).item()

0.06656715743793333

In [15]:
sec_returns['BEI.DE'].std()

0.017409940814846894

In [16]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.27527533451822

In [17]:
print(sec_returns['PG'].mean() * 250)
print(sec_returns['BEI.DE'].mean() * 250)

0.0991992035604166
0.06656715743793333

In [18]:
sec_returns[['PG','BEI.DE']].mean()*250

PG        0.099199
BEI.DE    0.066567
dtype: float64

In [19]:
sec_returns[['PG','BEI.DE']].std() * 250 ** 0.5

PG        0.220141
BEI.DE    0.275275
dtype: float64