In [4]:
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [5]:
tickers =['PG','BEI.DE']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = yf.download(t, start = '1995-1-1')['Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                  PG    BEI.DE
Date
1995-01-03       NaN       NaN
1995-01-04 -0.008048       NaN
1995-01-05 -0.014242       NaN
1995-01-06  0.002047       NaN
1995-01-09 -0.004099       NaN
...              ...       ...
2025-08-20  0.006983  0.000486
2025-08-21 -0.004902 -0.021601
2025-08-22 -0.000378 -0.011882
2025-08-25 -0.016010 -0.003824
2025-08-26 -0.002347 -0.005054

[7714 rows x 2 columns]

In [8]:
PG_var = sec_returns['PG'].var()
PG_var

0.00019384929903789428

In [9]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.00030310600283612064

In [10]:
PG_var_a = sec_returns['PG'].var() *250
PG_var_a

0.04846232475947357

In [12]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.07577650070903016

In [13]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000194  0.000029
BEI.DE  0.000029  0.000303

In [14]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.048462  0.007135
BEI.DE  0.007135  0.075777

In [15]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.117925
BEI.DE  0.117925  1.000000